@model IEnumerable<Usda.PlantBreeding.Data.Models.Map>

@{
    ViewBag.Title = "Retired Maps by Genus";
}

<div class="form-inline">
    <div class="row">
    </div>
</div>
<div>
    @Html.DisplayFor(m => m, "MapsSummary")
</div>