@using Usda.PlantBreeding.Data.Models
@using Usda.PlantBreeding.Core.Models

@model NotesViewModel
<div class="momentum-scroll" style="height: 30vh;">
    <table id="notes" class="table table-striped table-font-small tab-pane fade in active" cellspacing="0" width="100%">
        <thead>
            <tr class="primary">
                <th class="col-md-1">
                    @Html.LabelFor(m => m.NewNote.Date)
                </th>
                <th class="col-md-10">
                    @Html.LabelFor(m => m.NewNote.Text)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            <tr id="new-note">
                @Html.EditorFor(m => m.NewNote, "EditNewNote", "", new { htmlAttributes = new { @style = "width:35em;" } })
            </tr>

            @foreach (Note note in Model.Notes.OrderByDescending(m => m.Date).ThenByDescending(m => m.Id))
            {
                <tr id="note-@note.Id">
                    @Html.EditorFor(m => note, "EditNote", "", new { htmlAttributes = new { @style = "width:35em;" } })
                </tr>
            }

        </tbody>
    </table>
</div>